body { /*webpage background color*/
	background-color: cornsilk;
}

div.calculator { /*div encompassing the whole calculator*/
	width: 350px;
	padding: 10px 0 0 0;
	margin: 10vh auto;
	background-color: #921818;
	border: 10px solid #5d0000;
	border-radius: 20px;
}

h1 { /*"Calculator" heading*/
	text-align: center;
	color: white;
	font-family: system-ui;
	font-size: 1.5em;
}

div.display, div.buttons { /*divs encompassing the number display and the buttons section of the calc*/
	width: 330px;
	margin: 10px;
}

div.display { /*div encompassing the number display*/
	box-sizing: border-box;
	position: relative; /*allows .leftSide's "absolute" positioning to be relative to the number display instead of the webpage*/
	height: 55px;
	border-radius: 10px;
	outline: none;
	font-family: system-ui;
	background-color: white;
	white-space: nowrap;
	padding: 0 10px;
	text-align: right;
}

div .rightSide { /*main number display*/
	line-height: 55px;
	font-size: 1.5em;
}

div .leftSide { /*displays stored number and operator*/
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: .8em;
	color: gray;
}

button { /*each button's default styling*/
	-webkit-appearance: none;
	outline: none;
	box-sizing: border-box;
	width: 110px;
	height: 55px;
	font-size: 1.5em;
	background-color: #f0f2ff;
	border-color: #a49ede;
}

button span { /*smaller text (describing keyboard shortcut when it isn't self explanatory)*/
	font-size: .5em;
	color: gray;
}

.operator { /*special styling for the operator buttons*/
	width: 82.5px;
	background-color: #fff7ee;
	border-color: #e4ba3c;
}

.clear, .delete { /*special styling for clear/delete buttons*/
	width: 165px;
	background-color: #e6e6e6;
	border-color: #989898;
}

.top-left { /*special styling for top left button (rounded corner)*/
	border-radius: 10px 0 0 0;
}

.top-right { /*special styling for top right button (rounded corner)*/
	border-radius: 0 10px 0 0;
}

.bottom-left { /*special styling for bottom left button (rounded corner)*/
	border-radius: 0 0 0 10px;
}

.bottom-right { /*special styling for bottom right button (rounded corner)*/
	border-radius: 0 0 10px 0;
}